body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: brown;
}

button:hover {
  cursor: pointer;
  background-color: aqua;
  box-shadow: 0px 0px 10px 3px rgba(0, 0,0, 0.3)
}

#create {
  margin: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 20%;
}

#deposit {
  margin: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 20%;
}

#withdraw {
  margin: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 20%;
}

#Balance {
  margin: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 20%;
}

#Login {
  margin: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 20%;
}

#logout {
  margin: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 20%;
}
